@media (min-width:768px) {
	.input-text.qty {
		height: 27px;
		width: 50px !important;
	}
}
.control.qty {
	margin-top: 10px;
	text-align: center;
}
.input-text.qty {
	text-align: center;
	vertical-align: inherit;
}
@media only screen and (max-width:767px) {
	.control.qty {

		/*padding-bottom: 35px;*/
		padding-bottom: 0px;
	}
	.control.qty.add {
		padding-bottom: 0px !important;
	}
	.input-text.qty {
		width: 100% !important;
		height: 30px !important;
		margin-top: 10px;
		margin-bottom: 5px;
		float: left;
	}
}
@media screen and (max-width:320px) {
	.input-text.qty {
		width: 30px;
	}
}
.control.qty {
    margin-top: 10px;
    text-align: center;
}